h2 {font-family: Jomolhari;}
/* This is a comment*/

h3 
{margin: 10px;color: black;}

h4
{font-family: Jomolhari; font-weight: bold}

h1 {font-family: Jomolhari; font-weight: bold; color: #b78282;
  text-decoration: underline}

p {color: white}

/*------------*/

.thirds {
    width: 33%;
    display: inline-block;}

/*------------*/ 
img.fluid {
    width: 100%;}

/*------------*/ 
.quarters{
	width: 24.5%;
    display: inline-block;}

/*------------*/ 

.halves {
	width: 49.5%;
    display: inline-block;}


.img-container {
        text-align: center;
      }
 
ul {
letter-spacing: 2px; font-family: Jomolhari;
}

element.style {
    padding: 5px;
}

div.row {
	padding: 15px;
}

#header.jumbotron {
  background-image: url("../brooke-cagle-NoRsyXmHGpI-unsplash.jpg");
    background-position: center;
    background-size: 1600px;

}

